  <main>
    <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto"> 
         <h1>編集画面</h1>
         
    <% if @book.errors.any? %>
    <div class= "errors">
      <div class="errors-head"><%= @book.errors.count %>errors prohibited this book from being saved:</div>
      <% @book.errors.full_messages.each do |message| %>
        <div class= "errors-content">
          <ul>
            <li class="errors-text"><%= message %></li>
          </ul>
        </div>
      <% end %>
    </div>
   <% end %>
   
      <%= form_with model: @book, local:true do |f| %>
        <div class="form-group">
          <label class="form-label">Title</label>
          <%= f.text_field :title, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <label class="form-label">Opinion</label>
          <%= f.text_area :body, autofocus: true, class: "form-control" %>
        </div>
        <%= f.submit 'Update Book', class: "btn btn-success" %>
      <% end %>
     <%= link_to 'Show', book_path(@book.id) %>
      ｜
     <%= link_to 'Back', books_path %>
     </div>
    </div>
  </div>
  </main>
  
